body {
    width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	font-size: 0.9em;
	font-family: Verdana, Arial, sans-serif;
}

#root {
    width: 1000px;
    height: 500px;
}
#factory {
    position: absolute;
    left: -10000px;
}

/* 
 * we need to be more specific with .panel to override the .control class, 
 * which a panel will also have 
 */
div.panel {
    display: inline-block;
}
div.statichtmltext {
    display: inline-block;
}
div.statictext {
    display: inline-block;
}
.control {
    display: inline;
}
.cell {
	background-color: #F8F8F8;
	background-color: rgb(220,220,220);
	border: 1px solid rgb(200,200,200);
	display: inline-block;
}

